@import url("./iconfont/style.css");

html,
body {
    position: relative;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  outline: 1px solid #d1d1d1;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

.viewer {
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 40px;
  width: calc(100% - 40px);
  height: calc(100% - 44px);
  background-color: white;
  user-select: none;
}
.viewport {
  width: 400px;
  height: 500px;
}

.menu {
  width: 30px;
  height: 30px;
  background-color: #141414;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  border: 3px solid #c9c9c9;
  border-width: 0 0.5px 0.5px 0;
  cursor: pointer;
}

.menu-icon {
  color: #fff;
  transition: all 0.5s ease;
  font-size: large;
  font-weight: bold;
}
.menu:hover {
  background-color: #f1f1f1;
}
.menu:hover .menu-icon {
  color: #141414;
}

.scena-horizontal-guides {
  left: 30px;
  width: calc(100% - 30px) !important;
  height: 30px !important;
  position: absolute !important;
  z-index: 999999;
}
.scena-vertical-guides {
  top: 30px;
  position: absolute !important;
  width: 30px !important;
  /* left: var(--menu); */
  height: calc(100% - 34px) !important;
  z-index: 999999;
}

.zoom-tool {
  position: absolute;
  top: 70px;
  right: 30px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: 500;
}

.horizantalGridLine {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000;
}
.horizantalGridLineMain {
  background-color: #c9c9c9;
  height: 1px;
}
.horizantalGridLineChild {
  background-color: #f8f8f8;
  height: 1px;
}

.verticalGridLine {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1000;
}
.verticalGridLineMain {
  background-color: #c9c9c9;
  width: 1px;
}
.verticalGridLineChild {
  background-color: #f8f8f8;
  width: 1px;
}

.moveable-control.moveable-origin {
  border-color: rgb(233, 233, 233) !important;
  background: #0f50db !important;
}

.gl-to-main{
  background-color: #0f50db !important;
}

.gl-to-element{
  background-color: #0f50db !important;
}

.moveable-line{
  background-color: #0f50db !important;  
}

.moveable-size-value{
  background: #0f50db !important;
  padding: 5px;
  color: #fff !important; 
  border-radius: 10px; 
}

.moveable-control {

  border: 2px solid #780fdb !important;
  box-sizing: border-box;
  background: #0f50db !important;
  background: var(--moveable-color);
  margin-top: -7px;
  margin-left: -7px;
  border: 2px solid #edeef0 !important;
  z-index: 10;
}